$navy: #3d30a2;
$lightblue: #1c85e8;
$orange: #ffa33c;
$yellow: #f8de22;
$black: #1f1717;
$red: #bb2525;
$pink: #f79bd3;
$lightgray: #eeeeee;
$white: #ffffff;
$lightext: #777777;
$bglightblue: #e4fafd;


@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import "./partials/_global.scss";
@import "./partials/_common.scss";
